<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>I miei Animali</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body class="animals-page">
    <div class="page-wrapper">
		
		
        <!-- Barra sticky in alto -->
        <div class="sticky-header">
          
              <div class="siw-logo">
                    <div class="logo">
                    <a href="/admin/indexAdmin">
                       <img src="/images/logo.png" alt="Logo Adopt Me">
                    </a>
                    </div>
                </div>
          </div>
        
        

        <!-- Contenitore griglia -->

  <div class="grid-container-form">                    
    <form th:action="@{/admin/categoria}" method="POST" th:object="${categoria}" class="grid-form">

        <!-- Titolo -->
        <div class="title">Inserisci una nuova categoria</div>

        <!-- errori globali -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" 
               th:text="${err}" 
               style="color:red">...</p>
        </div>

        <!-- Campo nome -->
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error-text"></div>
        </div>

        <!-- Pulsante -->
        <div>
            <button class="button" type="submit">Conferma</button>
        </div>
      </form>
  </div>

    </div>
</body>

</html>