<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>I miei Animali</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body class="animals-page">
    <div class="page-wrapper">
        <!-- Barra sticky in alto -->
        <div class="sticky-header">
             <div class="siw-logo">
                    <div class="logo">
                    <a href="/user/indexU">
                       <img src="/images/logo.png" alt="Logo Adopt Me">
                    </a>
                   </div>
              </div>

            <div class="header-center">
                <h1>I miei Animali in Vendita</h1>
            </div>           
        </div>

        <!-- Contenitore griglia -->
        <div class="grid-container">
           

            <!-- Card per ogni animale -->
            <div class="grid center" th:each="animale : ${animali}">
                <a class="grid-button" th:href="@{'/animale/' + ${animale.id} (from='mine')}"></a>


                <!-- Immagine -->
                <div th:if="${animale.foto}">
                    <img class="product-image"
                    th:src="@{'/images/animali-foto/' + ${animale.id} + '/' + ${animale.foto}}" />
                </div>
                <div th:unless="${animale.foto}">
                    <div class="product-image flex center">Nessuna foto disponibile</div>
                </div>

                <!-- Nome -->
                <div class="title" th:text="${animale.nome}">Nome animale</div>

                <!-- Dettagli -->
                <div class="animal-details">
                    <p th:text="'Genere: ' + ${animale.genere}">Genere</p>
                    <p th:text="'Età: ' + ${animale.eta} + ' anni'">Età</p>
                    <p th:text="'Razza: ' + ${animale.razza}">Razza</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
