<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Lista degli Animali</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body class="animals-page">
    <div class="page-wrapper">
        <div class="sticky-header">
            <div class="header-left">
		      
                 <!-- Admin -->
                <div class="siw-logo" sec:authorize="hasAuthority('ADMIN')">
                    <div class="logo">
                    <a href="/admin/indexAdmin">
                       <img src="/images/logo.png" alt="Logo Adopt Me">
                    </a>
                    </div>
                </div>
                          
                 <!-- Utente -->
                <div class="siw-logo" sec:authorize="isAuthenticated() and !hasAuthority('ADMIN')">
                    <div class="logo">
                    <a href="/user/indexU">
                       <img src="/images/logo.png" alt="Logo Adopt Me">
                    </a>
                    </div>
                </div>
                <!-- Anonimo -->
              <div class="siw-logo" sec:authorize="isAnonymous()">
                <div class="logo">
                <a href="/">
                   <img src="/images/logo.png" alt="Logo Adopt Me">
                </a>
               </div>
              </div>
              
              
           </div>

            <div class="header-center">
                <h1>Animali Disponibili</h1>
            </div>   
            	<!-- Card per aggiungere un nuovo animale -->
          	<div class="header-right">
                  <button class="navbar-link" onclick="window.location.href='/animale/form'">
                                ➕ Metti in adozione un animale
                  </button>
          </div>

                   
        </div>

       <div class="grid-container">

	<!-- Card per ogni animale -->
	<div class="grid center" th:each="animale : ${animali}">
		<a class="grid-button" th:href="@{'/animale/' + ${animale.id}}">
		</a>

		<!-- Immagine -->
		<div th:if="${animale.foto}">
   <img class="product-image"
     th:src="@{'/images/animali-foto/' + ${animale.id} + '/' + ${animale.foto}}" />

</div>
<div th:unless="${animale.foto}">
    <div class="product-image flex center">Nessuna foto disponibile</div>
</div>

		<!-- Nome -->
		<div class="title" th:text="${animale.nome}">Nome animale</div>

		<div class="animal-details">
  <p th:text="'Genere: ' + ${animale.genere}">Genere</p>
  <p th:text="'Età: ' + ${animale.eta} + ' anni'">Età</p>
  <p th:text="'Razza: ' + ${animale.razza}">Razza</p>
  <p th:text="'Pubblicato da: ' + ${animale.user.nome}">Pubblicato da</p>
</div>

	</div>
</div>

    </div>
</body>

</html>
