<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Lista degli Animali</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body class="animals-page">
    <div class="page-wrapper">
        <div class="sticky-header">
            <div class="header-left">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <button class="navbar-link" onclick="window.location.href='/indexAdmin'">
                        &larr; Torna Indietro
                    </button>
                </div>
                <div sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                    <button class="navbar-link" onclick="window.location.href='/user/indexU'">
                        &larr; Torna Indietro
                    </button>
                </div>
                <div sec:authorize="isAnonymous()">
                    <button class="navbar-link" onclick="window.location.href='/'">
                        &larr; Torna Indietro
                    </button>
                </div>
            </div>

            <div class="header-center">
                <h1>Animali Disponibili</h1>
            </div>           
        </div>

       <div class="grid-container">
	<!-- Card per aggiungere un nuovo animale -->
	<div class="grid center">
		<a class="grid-button" th:href="@{/animale/form}">
		</a>
		<div class="title3">aggiungi nuovo annuncio.
		</div>
	</div>

	<!-- Card per ogni animale -->
	<div class="grid center" th:each="animale : ${animali}">
		<a class="grid-button" th:href="@{'/animale/' + ${animale.id}}">
		</a>

		<!-- Immagine -->
		<div th:if="${animale.fotoImagePath}">
    <img class="product-image" th:src="@{${animale.fotoImagePath}}" />
</div>
<div th:unless="${animale.fotoImagePath}">
    <div class="product-image flex center">Nessuna foto disponibile</div>
</div>

		<!-- Nome -->
		<div class="title" th:text="${animale.nome}">Nome animale</div>

		<div class="animal-details">
  <p th:text="'Genere: ' + ${animale.genere}">Genere</p>
  <p th:text="'Età: ' + ${animale.eta} + ' anni'">Età</p>
  <p th:text="'Razza: ' + ${animale.razza}">Razza</p>
  <p th:text="'Pubblicato da: ' + ${animale.user.nome}">Pubblicato da</p>
</div>

	</div>
</div>

    </div>
</body>

</html>
