<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Area</title>
    <link rel="stylesheet" href="/css/stile.css"> 
</head>


<body class="login-page">

    <!-- HEADER -->
    <header class="navbar">
        <div class="navbar-content">
            
                 <!-- Admin -->
              
                    <div class="logo" sec:authorize="hasAuthority('ADMIN')">
                    <a href="/admin/indexAdmin">
                       <img src="/images/logo.png" alt="Logo Adopt Me">
                    </a>
                    </div>
           
                          
                 <!-- Utente -->
        
                    <div class="logo" sec:authorize="isAuthenticated() and !hasAuthority('ADMIN')">
                    <a href="/user/indexU">
                       <img src="/images/logo.png" alt="Logo Adopt Me">
                    </a>
           </div>
    </header>

    <!--  CONTENITORE che occupa tutto lo spazio e centra il form -->
    <div class="content-wrapper">
        <div class="grid-container-form-parent">
            <div class="grid-container-form">
                <div class="grid-form">
			<div class="flex title">Inserimento Animale</div>

			<form th:action="@{/animale}" method="POST" th:object="${animale}" enctype="multipart/form-data">
				
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">...</p>
				</div>

				<table>
					<tr>
						<td>Nome:</td>
						<td><input type="text" th:field="*{nome}" /></td>
						<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Genere:</td>
						<td><input type="text" th:field="*{genere}" /></td>
						<td th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Età:</td>
						<td><input type="number" th:field="*{eta}" /></td>
						<td th:if="${#fields.hasErrors('eta')}" th:errors="*{eta}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Razza:</td>
						<td><input type="text" th:field="*{razza}" /></td>
						<td th:if="${#fields.hasErrors('razza')}" th:errors="*{razza}" th:style="'color:red'"></td>
					</tr>
					<tr>
                        <td>Descrizione:</td>
                        <td><textarea th:field="*{descrizione}"></textarea></td>
                        <td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:red'"></td>
                    </tr>
                    <tr>
                    <td>Email:</td>
                    <td><input type="email" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:style="'color:red'"></td>
</tr>

<tr>
    <td>Telefono:</td>
    <td><input type="text" th:field="*{telefono}" /></td>
    <td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" th:style="'color:red'"></td>
</tr>


					<tr>
						<td>Foto:</td>
						<td><input type="file" name="image" accept="image/png, image/jpeg" /></td>
					</tr>
				</table>

				<!-- Selezione Categoria -->
				<fieldset>
					<legend>Seleziona Categoria</legend>

					<div th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>

					<div class="grid-container-form">
						<div class="grid-fit category" th:each="categoria : ${categorie}">

							<label th:for="${'cat_' + categoria.id}" th:text="${categoria.nome}"></label>
							<input type="radio" th:id="${'cat_' + categoria.id}" th:field="*{categoria}" name="categoria"
								th:value="${categoria.id}" />
						</div>
					</div>
				</fieldset>

				<div>
					<button type="submit">Conferma</button>
				</div>
			</form>
		</div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div th:insert="~{fragments/base.html :: footer}"></div>

</body>
</html>
