<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common.html :: header(title='registrazione')">
</head>

<body>
	<div th:replace="fragments/common.html :: navbarMini">
	</div>

	<div class="grid-container-form">
		<div class="grid-form">
			<div class="flex title3">benvenuto nella community, è tuff!
			</div>
			<div class="">
				<a class="button" href="login.html" th:href="@{/login}">accedi</a>
				<a class="button" href="home.html" th:href="@{/home}">home</a>
			</div>
		</div>
	</div>

	<div th:insert="fragments/common.html :: footer">
	</div>
</body>
</html>