<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Utenti</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>


<body class="animals-page">
    <div class="page-wrapper">
        <!-- Barra sticky in alto -->
        <div class="sticky-header">
           <div class="siw-logo">
                    <div class="logo">
                    <a href="/admin/indexAdmin">
                       <img src="/images/logo.png" alt="Logo Adopt Me">
                    </a>
                    </div>
                </div>

            <div class="header-center">
                <h1>Utenti</h1>
            </div>                            
        </div>
	

	<div class="grid-container">
	<div class="grid center" th:each="user : ${users}">
		<a class="title" th:href="@{'/user/'+${user.id}}" th:text="${user.nome} + ' ' + ${user.cognome}"></a>
	</div>
</div>

	
</body>

</html>


